.details-container {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.details-name {
  text-transform: uppercase;
}

.details-flag {
  width: 400px;
  float: left;
}

table {
  box-shadow: 5px 6px 15px #333;
  padding: 10px;
  margin-top: 10%;
}

table thead th{
  font-size: 20px;
  background-color: #aaa;
  padding: 5px 0;
}

table tbody td {
  box-shadow: 0 0 4px #aaa;
  padding: 2px 5px;
}

table tbody td p {
  margin: 0;
  padding: 0;
}

.cap-table {
  width: 150px;
  font-weight: 700;
}

.value-table {
  padding: 2px 10px;
}
