.details-container {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.details-name {
  text-transform: uppercase;
}

.details-flag {
  width: 400px;
  float: left;
}

.details-icons {
  display: flex;
  justify-content: space-between;
  font-size: 40px;
  width: 60%;
  margin: 3% 0 1%;
}

.details-icons a {
  color: black;
  text-decoration: none;
}

table {
  width: 80%;
  box-shadow: 5px 6px 15px #333;
  margin-bottom: 15px;
  padding: 10px;
}



table thead th{
  font-size: 20px;
  background-color: #aaa;
  padding: 5px 0;
}

table tbody td {
  width: 60%;
  box-shadow: 0 0 4px #aaa;
  padding: 2px 5px;
}

table input {
  width: 100%;
}


.cap-table {
  width: 150px;
  font-weight: 700;
}

.value-table {
  padding: 2px 10px;
}
