.details-container {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.details-name {
  text-transform: uppercase;
}

.details-flag {
  width: 400px;
  float: left;
}

table {
  box-shadow: 0 0 4px #ccc;
  padding: 10px;
  margin-top: 10%;
}

table thead th{
  background-color: #ddd;
  padding: 5px 0;
}

table tbody td {
  box-shadow: 0 0 4px #ddd;
  padding: 2px 5px;
}

table tbody td p {
  margin: 0;
  padding: 0;
}

.cap {
  width: 150px;
  font-weight: 700;
}